@rendermode @(new InteractiveServerRenderMode(prerender: true))
@using BlazorSbt
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.EntityFrameworkCore


<div>
    <InputSelect
                 @bind-Value="SelectedTeamName"
                 @bind-Value:after="SelectedTeamNameChanged">
    <option value="All Teams">All Teams</option>
        @foreach (var standing in Standings)
        {
            <option value="@standing.Name">@standing.Name</option>
        }
    </InputSelect>

    <RadzenDataGrid Data="@Schedules" TItem="BlazorSbt.Shared.Schedules" EmptyText="Loading..."
                    HeaderCellRender="@HeaderCellRender" GridLines="@GridLines">
        <Columns>
        <RadzenDataGridColumn TItem="BlazorSbt.Shared.Schedules" Property="Visitor"
                              Filterable="false" Title="Visitor" >
            <Template Context="game">
                @if (game.Visitor.ToUpper().StartsWith("WEEK"))
                {
                    <span @attributes="@GetCellStyle(game)">@game.Visitor</span>
                }
                else
                {
                    <a @attributes="@GetLinkAttributes(game)">
                        @game.Visitor
                    </a>
                }
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="BlazorSbt.Shared.Schedules" Property="VisitorScore"
                              Filterable="false" Title="Score" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn TItem="BlazorSbt.Shared.Schedules" TextAlign="TextAlign.Center"
                              Property="Home" Title="Home" >
                <Template Context="game">
                    <a @attributes="@GetLinkAttributes(game)">
                        @game.Home
                    </a>
                </Template>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="BlazorSbt.Shared.Schedules" TextAlign="TextAlign.Center"
                              Property="HomeScore" Title="Score" />
        <RadzenDataGridColumn TItem="BlazorSbt.Shared.Schedules" TextAlign="TextAlign.Center"
                                  Property="Day" Title="Date" FormatString="{0:MMM-dd}" />
        <RadzenDataGridColumn TItem="BlazorSbt.Shared.Schedules" TextAlign="TextAlign.Center"
                              Property="Field" Title="Filed" />
        <RadzenDataGridColumn TItem="BlazorSbt.Shared.Schedules" TextAlign="TextAlign.Center"
                                  Property="Time" Title="Time" FormatString="{0:h:mm tt}" />
        <RadzenDataGridColumn TItem="BlazorSbt.Shared.Schedules" TextAlign="TextAlign.Center"
                              Property="MakeupDay" Title="Rescheduled" />
        <RadzenDataGridColumn TItem="BlazorSbt.Shared.Schedules" TextAlign="TextAlign.Center"
                              Property="MakeupField" />
        <RadzenDataGridColumn TItem="BlazorSbt.Shared.Schedules" TextAlign="TextAlign.Center"
                              Property="MakeupTime" />
        </Columns>
    </RadzenDataGrid>
</div>

<!--
    The style block below is needed because the "color" value in the code-behind css file is being
    oveerridden by a more specific setting for the column headers. There is still a padding or margin setting that is also
    getting trounced but I have not tried to find that one.
-->
<style>
    .rz-datatable-thead th .rz-column-title, .rz-grid-table thead th .rz-column-title {
        color: white !important;
    }
</style>

@code {
    // see code-behind file
}