@page "/{organization}/{id:nonfile}/{teamName?}"

@using BlazorSbt.Shared

<h3>Standings</h3>

<StandingsComponent Organization="@Organization" Id="@Id" />

<RadzenDatagrid Organization="@Organization" Id="@Id" TeamName="@TeamName" />

<!--
<StandingsComponent Organization="@Organization" Id="@Id" />
<ScheduleComponent Organization="@Organization" Id="@Id" TeamName="@TeamName" />
-->


@code {
    [Parameter]
    public string Organization { get; set; } = "";

    [Parameter]
    public string Id { get; set; } = "";

    [Parameter]
    public string TeamName { get; set; } = "";

}
